<mat-card class="container">
  <div class="left-section">
    <img
      mat-card-image
      src="assets/logo-image.jpeg"
      alt="logo image"
      class="card-image"
    />
  </div>

  <mat-card-content class="right-section">
    <div class="auth-nav">
      <span class="active">Sign in</span>
      <span [routerLink]="['/register']">Sign up</span>
    </div>
    <div class="form-group">
      <div class="welcome-back">
        <p>Welcome back!</p>
        <h1>Login to start making impactful decisions</h1>
      </div>
      <form (submit)="loginUser()" class="form-container">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            name="emailAddress"
            [(ngModel)]="emailAddress"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            name="password"
            [(ngModel)]="password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        <button class="login-button" mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
