<mat-card class="container">
  <app-steps></app-steps>
  <div class="summary-container">
    <h1>{{ decisionTitle }}</h1>
    <h3>{{ decisionDescription }}</h3>
    <div class="options">
      <div class="option" *ngFor="let option of optionList">
        <h2 class="option-title">{{ option.name }}</h2>
        <hr />
        <div *ngFor="let criteria of criteriaList">
          <div *ngIf="option.proConList && option.proConList.length > 0">
            <h3 class="criteria-title">{{ criteria.name }}</h3>

            <!-- Pros -->
            <ng-container *ngFor="let proCon of option.proConList">
              <div
                class="procon"
                id="pro"
                *ngIf="
                  proCon.type === 'pro' && proCon.criteriaId === criteria.id
                "
              >
                <span class="description">{{ proCon.description }}</span>
                <span class="rating" id="pro">
                  <i
                    class="fas fa-star"
                    *ngFor="let _ of [].constructor(proCon?.rating || 0)"
                  ></i>

                  <i
                    class="far fa-star"
                    *ngFor="let _ of [].constructor(5 - (proCon?.rating || 0))"
                  ></i>
                </span>
              </div>
            </ng-container>

            <!-- Cons -->
            <ng-container *ngFor="let proCon of option.proConList">
              <div
                class="procon"
                id="con"
                *ngIf="
                  proCon.type === 'con' && proCon.criteriaId === criteria.id
                "
              >
                <span class="description">{{ proCon.description }}</span>
                <span class="rating" id="con">
                  <i
                    class="fas fa-star"
                    *ngFor="let _ of [].constructor(proCon?.rating || 0)"
                  ></i>

                  <i
                    class="far fa-star"
                    *ngFor="let _ of [].constructor(5 - (proCon?.rating || 0))"
                  ></i>
                </span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <button class="analyze-button" (click)="analyzeDecision()">
        Analyze Decision
      </button>
    </div>
  </div>
</mat-card>
