<h2 mat-dialog-title>Highlight Your Key Factors!</h2>
<mat-dialog-content>
  <p>What's driving your decision?</p>
  <p>
    <strong>Factors:</strong> Pinpoint the elements or criteria that will
    influence your choice. Think about what really matters in this decision and
    list those aspects. It could be cost, durability, location, or anything else
    pertinent.
  </p>
  <p>
    Assign a % of importance to each factor. Make sure they all add up to 100%!
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Time to Weigh In!</button>
</mat-dialog-actions>
