<div class="main-items">
  <div class="top-section">
    <app-hello></app-hello>
  </div>
  <div class="middle-section">
    <div class="stat-container">
        <p>Overview</p>
        <div class="stats">
            <div *ngFor="let stat of stats; let i = index">
                <app-decision-stats></app-decision-stats>
            </div>
        </div>
    </div>
  </div>
  <div class="bottom-section">
    <div class="decision-container">
      <app-recent-decisions></app-recent-decisions>
    </div>
  </div>
</div>
