mat-card{
  box-shadow: none;
}
.nav-items {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
    .add-decision{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 30px;
        border-radius: 8px;
        color:#064663;
        background-color: rgba(255, 186, 128, 0.7);
        margin-bottom: 20px;
        .icon {
            font-size: 50px;
            color: #FF9920;
            transition: color 0.3s, transform 0.3s; 
            padding-left: 15px;
            &:hover {
              transform: scale(1.1);
            }
            cursor: pointer;
            @media only screen and (max-width: 768px) {
                font-size: 40px;
                padding-top: 15px;
                text-align: center;
                padding-left: 0;
                color: #FF9920;
            }
        }
        @media only screen and (max-width: 768px) {
          flex-direction: column;
          justify-content: center;
      }
    }
    .nav-item {
      padding: 25px 50px;
      margin-bottom: 10px;
      text-align: center;
      cursor: pointer;
      color: #064663;
      border-radius: 8px;
      &:hover {
        background-color: rgba(255, 153, 32, 0.1);
      }
      fa-icon {
        margin-right: 20px;
        font-size: 22px;
        color: #FF9920;
      }
      span {
        display: inline;
        padding: 50px;
        width: inherit;
      }
    }
  }
  
  